
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

#carouselExampleCaptions img {
  height:400px;
  object-fit:cover;
}
.align-center{
  text-align: center;

}
.btn-primary{
  margin-top: 13px;
  background-color: violet;
  border-color: black;
}


.carousel-caption h5 {
font-size: 40px;
font-weight: 600;
padding-bottom: 32px;
}
.carousel-caption {
background: rgba(255,255,255,0.2);

}
img{
border-radius: 5px;
}
.starter-template {
  background-color: rgb(179,179,255);
}
.starter-template.inner-page{
  margin-top: 91px;
}
p {
  margin: 35px;
  padding-left: 35px;
}
h2{
  margin:35px;
}
ul{
  padding-left: 35px;
}
h4{
  text-align: center;
}

h6{
  padding-left: 20px;
}

